*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #181717;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'header header header'
                            'nav nav nav'
                            'main main main'
                            'main main main'
                            'footer footer footer';
}
/*Upper parts*/
header{
    grid-area: header;
}
.headcontainer{
    text-align: center;
    width: 100%;
}
nav{
    grid-area: nav;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    background-color: #580101;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
    color: rgb(231, 198, 7);
}
.nav-items{
    display: inline;
    margin: auto;
    font-size: 25px;
}
li{
    text-align: none;
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    color: rgb(231, 198, 7);
}
li:hover{
    box-shadow: 0 0 3px #100808;
    background: rgb(118, 1, 1);
}
#logo{
    width: 90%;
}
/*Main content*/
main{
    grid-area: main;
    width: 100%;
}
.full{
    margin: auto;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.image-text{
    position: relative;
}
.description{
    width: 40%;
    overflow-wrap: break-word;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 15%;
    opacity: 0.8;
    color:rgb(255, 255, 255);
    font-size: 22px;
}
#title{
    top:37%;
    left: 11%;
    position: absolute;
    color:rgb(118, 1, 1);
    text-shadow: rgb(231, 198, 7);
    font-size: 30px;
}
#openimg{
    width: 80%;
    max-height: 300px;
    border-radius: 15px;
    border: solid 1px rgb(118, 1, 1);
}
/*Main-article*/
.section-center{
    align-items: center;
    width: 80%;
    margin: auto;
    display: flex;
}
article{
    margin: auto;
    margin-top: 20px;
    height: 30%;
    background-color: #580101;
    border-radius: 14%;
    border:3px solid #877501;
    display: inline;
    padding: 20px;
    min-height: 500px;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
}
.little-image{
    width: 200px;
    height: 200px;
    border: 0.5px black solid;
    margin-top:20px;
    border-radius: 10%;
    flex: 1;
}
.text-container{
    flex: 2;
    font-size: 20px;
    color: rgb(240, 232, 232);
    font-family: 'Times New Roman', Times, serif;
}
.text-container > h1{
    font-size:30px;
}
#tel{
    text-decoration: underline;
}
.Rings .Pedant > p{
    font-size: 20px;
}
/*footer*/
footer{
    grid-area: footer;
    margin: auto;
    margin-top: 30px;
    display: flex;
    width:100%;
    height: 100%;
    background-color: rgb(45, 33, 16);
    border-top: #877501 solid 1px;
}
.left{
    flex: 1;
    margin-left: 25px;
    margin-top:15px;
}
.right{
    flex: 5;
    font-size: 25px;
    flex-wrap: nowrap;
    color: white;
    position: relative;
}
#logo2{
    width: 25vh;
    height: 20vh;
}
/*Underlines*/
.underline{
    width: 80%;
    border-bottom: 2px goldenrod solid;
    margin: auto;
}
/*underlines*/
#second{
    margin-top: 50px;
    width: 45%;
}
#third{
    width: 55%;
    margin-left: 10px;
}